<!DOCTYPE html>
<html>
<head>
    <meta name= "viewport" content ="width=device-width, initial-scale=1.0"> 
    <title>Welcome to LearnHub</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
</head> 
<body>
<section class="sub-header">
        <nav>
            <a href="index.html"><img src="images/learnhub_2-removebg-preview.png"></a>
            <div class="nav-links" id="navLinks">
                <i class="fas fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="Home.html">HOME</a></li>
                    <li><a href="About.html">ABOUT</a></li>
                    <li><a href="course.html">COURSE</a></li>
                    <li><a href="Blog.html">BLOG/SERVICES</a></li>
                    <li><a href="contact.html">CONTACT</a></li>
                </ul>
            </div>
           <i class="fas fa-bars" onclick="showMenu()"></i>
        </nav>

    <h1>Our Courses</h1>
    
    </section>
    
    <!------- Course Categories ------->
    
    <section class="course">
        <h1>Course Categories That We Offer</h1>
        <p>Diverse courses, expert instructors, comprehensive materials, interactive learning.</p>
        
        <div class="row">
            <div class="course-col">
                <h3>BASIC</h3>
                <p>Our basic-level courses cover a range of subjects, providing a solid foundation for learning and skill development.</p>
            </div>
            <div class="course-col">
                <h3>INTERMEDIATE</h3>
                <p>We offer intermediate-level courses covering various subjects, providing a comprehensive learning experience for skill advancement.</p>
            </div>
            <div class="course-col">
                <h3>ADVANCED</h3>
                <p>Our advanced-level courses delve deep into specialized subjects, offering advanced knowledge and skill development opportunities.</p>
            </div>
        </div>
        
    </section>
    
    
    
    
   <!------- Course ------->
     <section class="courses">
        <h1>Explore Our Courses</h1>
        <p>Discover our diverse courses and embark on your educational journey today!</p>
        
        <div class="row">
            
            <div class="courses-col">
                <img src="images/art1.PNG">
                    <h3>ART & HUMANITIES</h3>
                    <p>Unlock your creativity and explore the world of art with our engaging and inspiring art courses.</p>
            </div>
            
            <div class="courses-col">
                <img src="images/business1.PNG">
                    <h3>BUSINESS</h3>
                    <p>Gain valuable business skills and thrive in the corporate world with our comprehensive and practical business courses.</p>
            </div>
            
            <div class="courses-col">
                <img src="images/science1.PNG">
                    <h3>SCIENCE</h3>
                    <p>Dive into the fascinating world of science and unravel the mysteries of the universe with our captivating science courses.</p>
                </div>
            
            </div>
        
    </section>
    
   <!------- Footer ------->
    
    <section class="footer">
        <h4>About Us</h4>
        <p>LearnHub is an innovative course provider app that offers a wide range of educational programs to enhance your knowledge and skills. <br>With a usererface, LearnHub provides interactive courses, expert instructors, and personalized learning paths.<br>Whether you are interested in professional development, academic subjects, or hobbies, LearnHub has something for everyone.</p>
        
        <div class="icons">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-linkedin"></i>
        </div>
        <p>Powered by <i class="fas fa-thumbs-up"></i> LearnHub Team</p>
    
        
    </section> 
      
<!-------Javascript for Toggle Menu-------> 
<script>
    
    var navLinks = document.getElementById("navLinks");
    function showMenu(){
        navLinks.style.right = "0"; 
    }
    function hideMenu(){
        navLinks.style.right = "-200px"; 
    }
    
</script>
    
</body>    
</html>