<!DOCTYPE html>
<html>
<head>
  <title>Tutor Course Creation</title>
  <style>
    /* Style the input fields and button */
    input, textarea, button {
      display: block;
      margin-bottom: 40px;
    }

    h1 {
      color: #007bff
    }

    .logo img {
      max-height: 60px;
      float: left;
    }

  </style>

  <div class="container">
      <div class="logo">
        <a href="http://127.0.0.1:5000/tutor_dashboard" target="">
        <img src="static/images/learnhub_logo.png" alt="Company Logo">
        </a>
      </div>
      
    </div>
</head>
<br><br><br>
<body>
  <h1>Tutor Course Creation</h1>

  <!-- Course Creation Form -->
  <form id="course-form" action='/create_content' method="POST">
    <input type="text" id="course-title" name= course_title placeholder="Course Title" size="40" required>
    <textarea id="course-description" name= course_description placeholder="Course Description" rows="10" cols="40" required></textarea>
    <textarea id="course-content" name=course_content placeholder="Course Content" rows="10" cols="40" required></textarea>
    <button type="submit">Create</button>
  </form>

<!---
  <script>
    // Function to handle course creation
    function createCourse(event) {
      event.preventDefault();

      // Get input values
      const title = document.getElementById('course-title').value;
      const description = document.getElementById('course-description').value;
      const content = document.getElementById('course-content').value;

      // Retrieve existing courses from local storage or initialize an empty array
      const courses = JSON.parse(localStorage.getItem('courses')) || [];

      // Create a new course object
      const newCourse = {
        title: title,
        description: description,
        content: content
      };

      // Add the new course to the array
      courses.push(newCourse);

      // Store the updated courses array in local storage
      localStorage.setItem('courses', JSON.stringify(courses));

      // Reset form fields
      document.getElementById('course-form').reset();

      // Redirect to the tutor's dashboard
      window.location.href = 'tutor_dashboard.html';
    }

    // Add event listener to the course creation form
    const courseForm = document.getElementById('course-form');
    courseForm.addEventListener('submit', createCourse);
  </script>
</body>
</html>
--->
