<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Welcome to LearnHub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head> 
<body>
    <section class="header">
        <nav>
            <a href="index.html"><img src="images/learnhub_logo.png"></a>
            <div class="nav-links" id="navLinks">
                <i class="fas fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="Home.html">HOME</a></li>
                    <li><a href="About.html">ABOUT</a></li>
                    <li><a href="courses.html">COURSES</a></li>
                    <li><a href="Blog.html">BLOG/SERVICES</a></li>
                    <li><a href="contact.html">CONTACT</a></li>
                </ul>
            </div>
           <i class="fas fa-bars" onclick="showMenu()"></i>
        </nav>
        <div class="text-box">
            <br><br><br><br><br><br><br><br>
            <h1>You Can Learn Anything...</h1>
            <br><br>
            <p>Mentorship | Top Instructors | Courses | Exclusive Materials</p>
            <h2>Start Studying With Us. Let's Elevate Your Education with E-Learning</h2>
            <br>
            <a href="#" class="hero-btn">Visit us to Know More</a>
        </div>
    </section>

    <!------- Course Categories ------->
    <br>
    <section class="header2"></section>
    <section class="course">
        <h1>COURSE CATEGORIES WE OFFER</h1>
        <p>Diverse courses, Expert instructors, Comprehensive materials,
            Interactive learning, Multilingual support, and lots more...</p>
        <div class="row">
            <div class="course-col">
                <h3>BASIC</h3>
                <p>Our basic-level courses cover a range of subjects, providing a solid foundation for learning and skill development.</p>
            </div>
            <div class="course-col">
                <h3>INTERMEDIATE</h3>
                <p>We offer intermediate-level courses covering various subjects, providing a comprehensive learning experience for skill advancement.</p>
            </div>
            <div class="course-col">
                <h3>ADVANCED</h3>
                <p>Our advanced-level courses delve deep into specialized subjects, offering advanced knowledge and skill development opportunities.</p>
            </div>
        </div>
    </section>

    <!------- Tutors ------->
    <section class="tutors">
        <h4>MEET OUR TUTORS</h4>
        <p>Get acquainted with our dedicated tutors, experts in their fields, ready to guide and support your learning journey.</
